
.movie-item:hover {
  transform: scale(1.2); /* Expand the card when hovered over */
  z-index: 100;

}

.dark {
  background: rgb(14, 48, 87);
  color: white;
}

.light {
  background: rgb(231, 231, 231);
  color: black;
}

#header {
  background: rgb(192, 192, 192);
}

#navbar {
  background: rgb(192, 192, 192);
  color: black;
}

.dark #header {
  background: rgb(9, 31, 55);
  color: white;
}

.dark #navbar {
  background: rgb(9, 31, 55);
  color: white;
}

.dark #footer {
  background: rgb(9, 31, 55);
  color: white;

}

.dark .navbar-brand {
  color: white;

}
.movie-item {
  height: 200px;
  width: 370px;
  border-radius: 2px;
  transition: transform 0.3s; /* Add a smooth transition effect */

}
.pagination {
  margin-right: 5px;
  padding: 0;
  display: flex;
  align-items: flex-end;
  list-style: none;
  z-index: 1;
  

}
.page-item-m {
  width: 30px;
  height: 5px;
  float: left;
  margin: 1px;

  cursor: pointer;
  transition: 0.3s ease width;
}
.pagination .page-item-m .page-link {
  background-color: #b9b9b9;

}
.pagination .page-item-m.active .page-link {
  width: 30px;
  cursor: auto;
  background-color: #ffffff;
  border: 0;
}

.card .dark {
  background-color: rgb(9, 31, 55);
}
img {
  cursor: pointer;
}